button {
    display: inline-block;
    padding: 10px 22px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(1, 107, 5);
    border: none;
    border-radius:8px;
    box-shadow: 0 7px rgb(21, 49, 58);
    margin: 10px;
}
button:hover {
    background-color: #3e8e41
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media only screen and (max-width:500px) {
    button {
        padding: 13px 25px;
        font-size: 18px;
    }
}